@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0px;
    min-height: 0px;
    width: 100%;
    overflow-x: hidden;
}
main{
    width: 100%;
}
.sectionheading{  
    display: block;
    background-color: #3c64b1;
    margin-top: 100px;
    padding: 10px 0px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: 28px;
  }